{% extends "base.html" %}
{% block content %}
    <div class="container">
        <h1>Témy</h1>
        <div class="filter-options">
            <form method="GET" action="{% url 'temy' %}">
                <label for="odbor">Odbor:</label>
                <select name="odbor" id="odbor">
                    <option value="">Všetky</option>
                    {% for odbor in odbory %}
                        <option value="{{ odbor.id }}">{{ odbor.nazov }}</option>
                    {% endfor %}
                </select>

                <label for="konzultant">Konzultant:</label>
                <select name="konzultant" id="konzultant">
                    <option value="">Všetci</option>
                    {% for ucitel in ucitelia %}
                        <option value="{{ ucitel.id }}">{{ ucitel.meno }} {{ ucitel.priezvisko }}</option>
                    {% endfor %}
                </select>

                <label for="dostupnost">Dostupnosť:</label>
                <select name="dostupnost" id="dostupnost">
                    <option value="">Všetky</option>
                    {% for dostupnost in dostupnosti %}
                        <option value="{{ dostupnost.id }}">{{ dostupnost.nazov }}</option>
                    {% endfor %}
                </select>

                <button type="submit">Filtrovať</button>
            </form>
        </div>

        {% if temy %}

        <div class="themes-list">
            {% for tema in temy %}
            <div class="theme">
                <div class="content">
                    <h2><a href="{% url 'tema' tema=tema.id %}">{{tema.nazov}}</a></h2>
                    {% if tema.dostupnost.id == 1 %}
                    <p class="availability" style="background-color: green;">{{tema.dostupnost}}</p>
                    {% endif %}
                    {% if tema.dostupnost.id == 2 %}
                    <p class="availability" style="background-color: orange;">{{tema.dostupnost}}</p>
                    {% endif %}
                    {% if tema.dostupnost.id == 3 %}
                    <p class="availability" style="background-color: red;">{{tema.dostupnost}}</p>
                    {% endif %}
                    
                </div>
                <div class="topic-details">
                    <b>Popis: </b>
                    <p>{{ tema.popis }}</p>
                    <p><b>Konzultant:</b> <a href="{% url 'ucitel' ucitel=tema.konzultant.id %}">{{ tema.konzultant }}</a></p>
                    <p><b>Študent:</b> {% if tema.student %} <a href="{% url 'student' student=tema.student.id %}">{{ tema.student }}</a> {% endif %} </p>
                    <p>{{ tema.odbor }}</p>
                    <p><b>Konzultácie:</b> {{ tema.pocet_konzultacii }}</p>
                </div>
            </div>         
            {% endfor %}
        </div>
    
        {% endif %}
    </div>
{% endblock %}
