{% extends "base.html" %}
{% block content %}
    {% if tema %}
    <div class="container pt-3">
        <h1>{{tema.nazov}}</h2>
        <p><b>Popis: </b>{{tema.popis}}</p>
        <p>Konzultant: <a href="{% url 'ucitel' ucitel=tema.konzultant.id %}">{{tema.konzultant}}</a></p>
        <p>Študent: <a href="{% url 'student' student=tema.student.id %}">{{tema.student}}</a></p>
        <p>Odbor: {{tema.odbor}}</p>
        <p>Dostupnosť: {{tema.dostupnost}}</p>
        <p>Konzultácie: {{tema.pocet_konzultacii}}</p>
    </div>
    {% endif %}
    
{% endblock  %}