{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SOČ</title>
    <link rel="stylesheet" href="{% static 'soc/style.css' %}">
</head>
<body>
    <nav class="navbar">
        <div class="logo"><a href="{% url 'temy'%}">Stredná odborná činnosť</a></div>
        <ul class="nav-links">
            <li><a href="{% url 'statistics' %}">Štatistika</a></li>
            <li><a href="{% url 'pridat_temu' %}">Pridať tému</a></li>
        </ul>
    </nav>
    {% block content %}
    
    {% endblock  %}
</body>
</html>